<footer class="footer">

<div class="footertop"
<p><a href="how-to-donate.html">Join</a> our <a href="donors.html">donors</a> today and help to promote native-language education, universal literacy and cultural preservation. Many thanks to:</p>
<br / >
</div>
<div class="logos">
<img class="logo" src="/sei/static/img/neh_logo.png"/>
<img class="logo" src="/sei/static/img/adobe.svg" />
<img class="logo" src="/sei/static/img/unesco.svg" />
<img class="logo" src="/sei/static/img/wikimedia_foundation.svg" />
<img class="logo" src="/sei/static/img/google_2015.svg" />
<img class="logo" src="/sei/static/img/luce.jpeg" />
<img class="logo" src="/sei/static/img/monotype.jpeg" />
</div>
</footer>