---
layout: layouts/base.njk
---

<div class="container-sm">
  <h1>{{ title }}</h1>
  {% if data.image %}
  <img src="{{data.image}}" style="float:right;" / >
  {% endif %}
  {{ content | safe }}

  <br><hr>
  <a href="{{ '/sei/' | url }}">&larr; Back home</a>
</div>
